.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.2vh;
    height: 3.2vh;
    background-color: #1E2328;
}

.vertice {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.2vh;
    height: 3.2vh;
    padding: 0;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
    cursor: pointer;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 75%;
    background-color: black;
}

.start {
    border-radius: 51% 49% 44% 56% / 21% 25% 75% 79%;
}

.end {
    border-radius: 51% 49% 44% 56% / 79% 85% 15% 21%;
}

.visited-node {
    background-color: #FED053;
    animation: fadein 1s ease-in;
}

.not-visited-node {
    background-color: #1E2328;
}

.path-node {
    background-color: #f2ebe9;
}

.wall {
    box-sizing: border-box;
    background-color: #de5499;
    animation: fadein 1s ease-in;
}

@keyframes fadein {
    0% {
        opacity: 0;
        width: 0;
        height: 0;
    }
    100% {
        opacity: 1;
        width: 3.2vh;
        height: 3.2vh;
    }
}

.subcircle {
    width: 33%;
    height: 33%;
    background-color: #FFC40A;
    border-radius: 50%;
}

.row:first-child > div {
    border-top: 1px solid black;
}

.row > div:first-child {
    border-left: 1px solid black;
}