.vertice {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 3.2vh;
    height: 3.2vh;
    padding: 0;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
    cursor: pointer;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 75%;
    background-color: black;
}

.start {
    border-radius: 51% 49% 44% 56% / 21% 25% 75% 79%;
}

.end {
    border-radius: 51% 49% 44% 56% / 79% 85% 15% 21%;
}

.subcircle {
    width: 33%;
    height: 33%;
    background-color: #FFC40A;
    border-radius: 50%;
}

.row:first-child > div {
    border-top: 1px solid black;
}

.row > div:first-child {
    border-left: 1px solid black;
}