.header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 15%;
    background-color: #1E2328;
}

.vis-button {
    color: #FED053;
    font-weight: 700;
    cursor: pointer;
    min-width: 15vw;
    text-align: center;
    user-select: none;
}

.disabled {
    color: red;
}