.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 15%;
    background-color: #1E2328;
}

.disabled {
    color: red;
}

.menu {
    width: 100%;
    margin-bottom: 10%;
}

.title {
    margin-bottom: 1.5vh;
    /* padding-left: 1.5vw; */
    color: #FED053;
    text-align: center;
    font-size: x-large;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
}

.itemList > div {
    margin-bottom: 5px;
    padding-left: 2vw;
    color: white;
    font-weight: 500;
}