.vertice {
    box-sizing: border-box;
    background-color: white;
    width: 2.5vh;
    height: 2.5vh;
    padding: 0;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
    cursor: pointer;
}

.row:first-child > div {
    border-top: 1px solid black;
}

.row > div:first-child {
    border-left: 1px solid black;
}